@media only screen and (min-width: 570px)

  nav li
    margin: 0 0 0 2em
    float: left

    &:first-of-type
      margin-left: 0

    a
      margin: 0
      font-size: 2.5vw


@media only screen and (min-width: 750px)

  .wrapper
    margin: 0 auto
    width: 700px

  nav li a
    font-size: 1em

  .footer-left,
  .footer-center,
  .footer-right
    float: left
    width: 33.33333%

  .footer-left
    display: inline
    text-align: left
    
  .footer-center
    text-align: center

  .footer-right
    text-align: right


@media only screen and (min-width: 990px)

  .wrapper
    width: 960px
