main-color = #00041F
bg = white
primary-header-bg = #9CA7FF
secondary-header-bg = #C8CEFF

a-color = #7D86CC
a-hover-color = #FFE99C
// a-hover-color = #B29B49
color-transition-time = 0.2s
selection-color = a-hover-color

footer-border-color = #eee

h-font = 'Merriweather', serif
h-weight = 400

p-font = 'Open Sans', sans-serif
p-line-height = 1.4
p-size = 1.2em
p-weight = 300
