border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

.control-label
  display: none

.controls
  margin-left: 0 !important

.wmd-input,
.wmd-preview
  display: inline-block
  width: 49%

textbox-height = 600px
.wmd-input
  height: textbox-height
  vertical-align: top !important
  resize: vertical

.wmd-preview
  height: textbox-height
  margin-right: 0
  padding: 6px
  float: right
  overflow: scroll
  resize: both
  border: 1px solid #ccc
  border-radius(4px)
