{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}

{% block content %}
{{ super() }}
<section id="about">
  <img src="http://www.bgu.ac.il/~lemcoff/images/photos/gabi.jpg" alt="Photo of Prof. Gabriel Lemcoff" width="204" height="278" id="avatar">
  <header><h1>N. Gabriel Lemcoff</h1></header>
  <p>
    Professor, Head of Department<br />
    Born: 1969, Argentina<br />
    Ph.D.: 2002, Tel-Aviv University<br />
  </p>
</section>

<section id="research-interests">
  <header><h1>Research Interests</h1></header>
  <p>
    <ul>
      <li>Dendrimer and Polymer Chemistry</li>
      <li>Synthetic Organic Chemistry</li>
      <li>Supramolecular Chemistry</li>
      <li>Organometallic Chemistry</li>
      <li>Olefin Metathesis</li>
      <li>Intramolecular Cross-linking</li>
      <li>Acetal Chemistry</li>
      <li>Dynamic Combinatorial Libraries</li>
      <li>Molecular Modeling</li>
    </ul>
  </p>
</section>

<section id="contact">
  <div id="contact-details">
    <header><h1>Contact</h1></header>
    <p>
      Phone: +972-8-6461196<br />
      Fax: +972-8-6461740<br />
      Email: <a href="mailto:lemcoff@bgu.ac.il">lemcoff@bgu.ac.il</a><br />
    </p>
  </div>
  <a id="logo" href="http://www.bgu.ac.il/teva/chem/">
    <img src="{{ url_for('static', filename='img/bgu_logo.png') }}" alt="Photo of Prof. Gabriel Lemcoff" width="91" height="133">
  </a>
</section>
{% endblock %}
